<h1>About</h1>
<p>
  <%= link_to "30 days", "https://www.facebook.com/groups/439376556143203/" %>
  is a project to teach 
  <%= link_to "Steve Baek", "https://www.facebook.com/0215story" %>
  in one month. This is the sample application.
</p>