<h1>Welcome to One Month Rails!</h1>
<p>
  You've found the home page for the
  <%= link_to "30 days", "https://www.facebook.com/groups/439376556143203/" %>
  application.
</p>
<p>
  <%= link_to "Sign Up Now!", '#' %>
</p>